<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=content.title%></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div>
        <h1 class="text-pink-400 text-6xl font-extrabold">Shreee Ganeshay Namah</h1>
    </div>
</body>
</html>